

/* Formulario*/


.clear{clear: both;}



  form{
    margin-top: 2%;
    margin-left: 10%;
    padding:20px;
    width: 400px;
    align-items: center;
    justify-content: center;
    top:-15px;
    border-width: 10px;
    border-color: rgba(12, 28, 255, 0.521);
    border-style: solid;
    background-color: rgba(32, 35, 226, 0.3);
    background-clip:padding-box;
    border-radius: 10px;


  }


button{
    float: right;
}
  .fix-z-index{
      position: relative;
      z-index: 2;
  }




  @media screen and (max-width: 580px){


  form{

    top:-15px;
    border-width: 10px;
    border-color: rgba(12, 28, 255, 0.521);
    border-style: solid;
    background-color: rgba(32, 35, 226, 0.3);
    background-clip:padding-box;
    border-radius: 10px;


    width:300px;
    height:300px;

  }

  }


