

<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <img src="/assets/LogoTeka.png" width="160" height="65" />
    <a style="float: right;" class="nav-link active" aria-current="page"  [routerLink]="['todas']" routerLinkActive="router-link-active" >Cadastrar <i class="fa fa-list-ul" aria-hidden="true"></i> </a>
    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['atadas']"> ATADAS <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
</div>

</nav>

